{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'app/assets/favicon.svg' %}" type="image/svg+xml">
    <link rel="stylesheet" href="{% static 'app/assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'app/assets/css/product.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Source+Sans+Pro:wght@600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body id="top">
    <!-- header -->
    <header class="header" data-header>
    <div class="container">
        <div class="overlay" data-overlay></div>
        <a href="{% url 'index' %}">
        <h1 class="logo">Overcomer's</h1>
        </a>
        <nav class="navbar" data-navbar>
        <div class="navbar-top">
            <a href="{% url 'index' %}" class="logo">Overcomer's</a>
            <button class="nav-close-btn" aria-label="Close Menu" data-nav-close-btn>
            <ion-icon name="close-outline"></ion-icon>
            </button>
        </div>
        <ul class="navbar-list">
            <li class="navbar-item">
            <a href="{% url 'index' %}#home" class="navbar-link" data-navbar-link>Home</a>
            </li>
            <li class="navbar-item">
            <a href="{% url 'index' %}#about" class="navbar-link" data-navbar-link>About</a>
            </li>
            <li class="navbar-item">
            <a href="{% url 'product' %}" class="navbar-link" data-navbar-link>Products</a>
            </li>
            <li class="navbar-item">
            <a href="{% url 'index' %}#features" class="navbar-link" data-navbar-link>Features</a>
            </li>
        </ul>
        </nav>
        <button class="nav-open-btn" aria-label="Open Menu" data-nav-open-btn>
        <ion-icon name="menu-outline"></ion-icon>
        </button>
    </div>
    </header>
    <!-- content -->
    <main>
        <article>
            {% block content %}
            {% endblock %}
        </article>
    </main>
    <!-- footer -->
    <footer class="footer">
    <div class="footer-top section">
        <div class="container">
        <div class="footer-brand">
            <a href="#" class="logo">Overcomer's</a>
            <p class="text">
            Our Mission is to evolve into a globally accessible digital marketplace.
            </p>
            <p class="text">
            Our Vision is to ensure complete customer satisfaction in every transaction.
            </p>
            <ul class="social-list">
            <li>
                <a href="https://wa.me/2348026509434" class="social-link">
                <ion-icon name="logo-whatsapp"></ion-icon>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/Overcomersstore?mibextid=ZbWKwL" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/overcomerselectronicstore?igsh=MXhnMmg3MDJxZTc3OA==" class="social-link">
                <ion-icon name="logo-instagram"></ion-icon>
                </a>
            </li>
            </ul>
        </div>
        <ul class="footer-list">
            <li>
            <p class="footer-list-title">Our links</p>
            </li>
            <li>
            <a href="{% url 'index' %}#home" class="footer-link">Home</a>
            </li>
            <li>
            <a href="{% url 'index' %}#about" class="footer-link">About Us</a>
            </li>
            <li>
            <a href="{% url 'product' %}" class="footer-link">Our Products</a>
            </li>
            <li>
            <a href="{% url 'index' %}#features" class="footer-link">Features</a>
            </li>
            <li>
            <a href="https://wa.me/2348026509434" class="footer-link">contact</a>
            </li>
        </ul>
        <ul class="footer-list">
            <li>
            <p class="footer-list-title">Our Product Catalog</p>
            </li>
            <li>
            <a href="{% url 'product' %}" class="footer-link">Electronics/Appliances</a>
            </li>
            <li>
            <a href="{% url 'product' %}" class="footer-link">Power Generator/Alternative Energy</a>
            </li>
            <li>
            <a href="{% url 'product' %}" class="footer-link">Home Improvement/Interior Decoration</a>
            </li>
        </ul>
        <ul class="footer-list">
            <li>
            <p class="footer-list-title">Contact Us</p>
            </li>
            <li class="footer-item">
            <div class="footer-item-icon">
                <ion-icon name="call"></ion-icon>
            </div>
            <div>
                <a href="tel:+2348026509434" class="footer-item-link">+234 802 650 9434</a>
                <a href="tel:+2347037409165" class="footer-item-link">+234 703 740 9165</a>
            </div>
            </li>
            <li class="footer-item">
            <div class="footer-item-icon">
                <ion-icon name="mail"></ion-icon>
            </div>
            <div>
                <a href="mailto:amusaisrael10@gmail.com" class="footer-item-link">amusaisrael10@gmail.com</a>
            </div>
            </li>
            <li class="footer-item">
            <div class="footer-item-icon">
                <ion-icon name="location"></ion-icon>
            </div>
            <address class="footer-item-link">
                Along School Rd, Beside Sidny Event Center, Malete, Kwara State.
            </address>
            </li>
        </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p class="copyright">
        &copy; 2024 <a href="#" class="copyright-link">Olorunfemi Isaac Temiloluwa</a>. All Right Reserved
        </p>
    </div>
    </footer>
    <a href="https://wa.me/2348026509434" class="whatsapp">
        Chat <ion-icon name="logo-whatsapp"></ion-icon>
    </a>
    <script src="{% static 'app/assets/js/script.js' %}"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>