:root {
    --button: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    --ksu-purple: hsl(116, 100%, 50%);
    --royal-blue-dark: hsl(116, 100%, 32%);
    --gradient-1: linear-gradient(90deg,var(--royal-blue-dark) 0,var(--ksu-purple) 51%,var(--royal-blue-dark));
}


.product{
    height: 300px;
    width: 100%;
    background-image: var(--gradient-1);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: bottom, center, center;
    background-size: auto, cover, auto;
}


.product form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product form input{
    background-color: var(--white);
    padding: 10px 10px;
    border-radius: 10px;
    width: 80%;
}

.product form button{
    background-color: var(--button);
    padding: 10px 20px;
    border-radius: 10px;
    width: fit-content;
    margin-left: 10px;
    transition: .5s;
    color: var(--white);
}

.product form button:hover{
    transform: scale(0.98);
}

.product_categories{
    padding: 20px;
}

#grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 50px;
}
  
#grid>div {
    font-size: .8em;
    padding: .5em;
    color: #ffffff;
    background: var(--white);
    text-align: center;
    border-radius: 5px;
    height: fit-content;
    width: max-content;
    box-shadow: 1px 1px 10px rgb(142, 133, 133);
}

.imgcont {
    display: flex;
    align-items: center;
    justify-content: center;
}

#grid div .image_container{
    width: 100%;
    height: 100%;
}

#grid div .image_container img{
    border-radius: 10px;
    transition: .8s;
}

#grid div .image_container img:hover{
    transform: scale(0.98);
}

.whatsapp_button:hover{
    transform: scale(0.98);
}

.content {
    height: fit-content;
    width: 100%;
    padding: 5px;
    color: hsl(0, 0%, 13%);
    text-align: left;
    font-size: 1.5em;
    text-wrap: wrap;
}
.prize{
    text-align: right;
    font-size: 1.0em;
    color: hsl(120, 100%, 25%);
    font-weight: bold;
}
@media (max-width:786px){
    #grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        grid-gap: 5px;
    }
      
    #grid>div {
        font-size: .8em;
        padding: .5em;
        color: #ffffff;
        background: var(--white);
        text-align: center;
        border-radius: 5px;
        height: 200px;
        box-shadow: 1px 1px 10px rgb(53, 53, 53);
    }
    
}

